body {
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	side-nav {
		width: 14rem;
		height: 100vh;
		background-color: hsla(180, 6%, 97%, 1);
		position: fixed;
	}
	ui-view {
		width: 100%;
		margin-left: 14rem;
		padding: 3rem;
		box-sizing: border-box;
	}
	.line {
		width: 100%;
		height: 1px;
		background-color: hsla(180, 6%, 90%, 1);
		margin: 3rem 0;
	}
}
