@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Source+Code+Pro:300,400,600|Teko';
$mono-stack: 'Source Code Pro', monospace;
$logo-stack: 'Teko', Helvetica, sans-serif;
$serif-stack: 'Playfair Display', serif;
$helvetica-stack: Helvetica, sans-serif;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html::selection, body::selection, div::selection, span::selection, applet::selection, object::selection, iframe::selection,
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, blockquote::selection, pre::selection,
a::selection, abbr::selection, acronym::selection, address::selection, big::selection, cite::selection, code::selection,
del::selection, dfn::selection, em::selection, img::selection, ins::selection, kbd::selection, q::selection, s::selection, samp::selection,
small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, var::selection,
b::selection, u::selection, i::selection, center::selection, input::selection,
dl::selection, dt::selection, dd::selection, ol::selection, ul::selection, li::selection,
fieldset::selection, form::selection, label::selection, legend::selection,
table::selection, caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection,
article::selection, aside::selection, canvas::selection, details::selection, embed::selection,
figure::selection, figcaption::selection, footer::selection, header::selection, hgroup::selection,
menu::selection, nav::selection, output::selection, ruby::selection, section::selection, summary::selection,
time::selection, mark::selection, audio::selection, video::selection {
  background: #ffdc26; /* WebKit/Blink Browsers */
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

img {
	margin-bottom: -0.3rem;
}
