<div class="project-browser" style="min-width: 0">
	<div class="browser-top">
		<div class="browser-btns">
			<div class="btn red"></div>
			<div class="btn yellow"></div>
			<div class="btn green"></div>
		</div>
	</div>
	<div class="image">
		<img ng-src="{{projectCtrl.projInfo.projectImageUrl}}" alt="">
	</div>
	<div class="browser-bottom"></div>
</div>
<div class="line" style=""></div>
<user-card style="min-width: 0"></user-card>
