body {
	ui-view {
		> .project-browser {
			width: 80%;
			margin: 0 auto;
			border-radius: 0.4rem 0.4rem;
			box-shadow: 0.1rem 0.1rem 16px 0px rgba(0,0,0,0.5);
			cursor: pointer;
			box-sizing: border-box;
			.browser-top {
				width: 100%;
				height: 1.2rem;
				background: #e0e0e0;
				border-radius: 0.4rem 0.4rem 0 0;
				.browser-btns {
					width: 3rem;
					height: 100%;
					margin-left: 0.5rem;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.btn {
						width: 0.6rem;
						height: 0.6rem;
						border-radius: 50%;
						background-color: #AAA;
					}
					.red { background-color: hsla(358, 67%, 64%, 1); }
					.yellow { background-color: hsla(31, 77%, 65%, 1); }
					.green { background-color: hsla(147, 28%, 49%, 1); }
				}
			}
			iframe {
				width: 100%;
				height: 40rem;
			}
			.image {
				width: 100%;
				height: 100%;
				max-height: 40rem;
				overflow-y: scroll;
				img {
					width: 100%;
					background-color: #333;
					box-sizing: border-box;
				}
			}
			.browser-bottom {
				width: 100%;
				height: 1.2rem;
				background: #e0e0e0;
				border-radius: 0 0 0.4rem 0.4rem;
			}
		}
	}
}
